/*Hi guys! Hope you are having a WONDERFUL week so far!
 Just wanted to submit what I put together so far.
 Hoping it will help out the guys writing our code.
 Feel free to change it so it's not just a bunch of articles about potatoes haha!
 Ill add the more links when we get going a little further.. :) */
body {
 font-family: georgia;
/*
background-image: url(https://www.xmple.com/wallpaper/grey-streaks-stripes-lines-white-1920x1080-c2-d3d3d3-fdf5e6-l2-56-56-a-30-f-1.svg);
    background-attachment: fixed;
  background-repeat: ;
    background-size: 100%;
    background-position: center top;
*/
}
.three {
    max-width: 30%;
    min-height: 500px;
    display: inline-block;
    overflow: hidden;
}
.topthree {
    max-height: 100%;
}
.rachaelssection{
  width:100%;
  
  text-align:left;
}

img{
  max-width:100%;
}
h1 {
    border-bottom: solid black 5px;
}
.trending {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 20px;
    text-align: center;   
}
h3{
 max-width:100%;
 margin:auto;
 padding-top:10px;
 font-family: 'Chivo', sans-serif;
}
p{
  max-width:100%;
  margin:auto;
  padding-top:10px;
}

.column {
  display:block;
  width:100%;
  text-align:left;
  margin:auto;
  margin-top:30px;
}


/*--------media query----------*/
@media (min-width: 700px) {

.trending {
    font-size: 50px;
    font-style: italic;
    letter-spacing: 60px;
    text-align: center;   
} 
    .trending:hover {
      letter-spacing: 20px;  
        transition: 3s;
    }
    
    
.rachaelssection{
  width:80%;
  margin: 0 auto;
  text-align:left;
}    
.column {
    display:inline-block;
    max-width:30%;
    margin-right: 2%;
  }
}
.container {
/*    border-top: solid black 5px;*/
    margin-bottom: 5em;
}
